<p id="notice"><%= notice %></p>

<div class="row">
  <div class="wrapper col-md-10  col-sm-10">
    <h1>Listing Blogs</h1>

    <table>
      <thead>
        <tr>
          <th><strong>ユーザー名</strong></th>
          <th><strong>Title</strong></th>
          <th><strong>Content</strong></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @blogs.each do |blog| %>
          <tr>
            <td><strong><%= blog.user.name %></strong></td>
            <td><strong><%= blog.title %></strong></td>
            <td><strong><%= blog.content %></strong></td>
            <td><%= link_to 'Show', blog, class: 'btn btn-default'  %></td>
            <td><%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-default btn-sm btn-success' %></td>
            <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-default btn-sm btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Blog', new_blog_path, class: 'btn btn-default'  %>
  </div>
</div>